<%- include('../partials/header') %>


     <div class="postInfo container">
        <% if(message) {%>
            <h3 class="welcom alert alert-success" id="welcome"><%= message%></h3>
         <%  }else if(welcomeBackMsg){ %>
            <h3 id="welcomeBack" class="alert alert-success">
                <%= welcomeBackMsg %>
            </h3>
          <% }else if(deleteImgMsg){%>
            <h3 id="deleteImg" class="alert alert-success">
                <%= deleteImgMsg %>
            </h3>
           <%} %>
        <script>
            setTimeout(() => {
             const welcome = document.getElementById('welcome')
             const welcomeBack = document.getElementById('welcomeBack')
             const delImg = document.getElementById('deleteImg')
             const goodbye = document.getElementById('goodbye')
             if(welcome) welcome.style.display = "none"
             if(welcomeBack) welcomeBack.style.display = "none"
             if(delImg) delImg.style.display = "none"             
            }, 3000);
          
        </script>
         <%if(goodbyeMsg){ %>
            <h3 id="goodbye" class="alert alert-primary"><%=goodbyeMsg %></h3>
            <script>
                setTimeout(() => {
                 const goodbye = document.getElementById('goodbye')
                 if(goodbye) goodbye.style.display = "none"
                }, 3000);
              
            </script>
       <%} %>
        <h1>THE POSTS !</h1>
        <div class="row my-3">
        <% posts.forEach((post, i )=>{%>
          
            <div class="col-12-lg col-6-md  details">
               <div id="memoryAndIcon">
                <p class="memory"><%= post.memory.substr(0, 50) %> <a href="/show/<%= post.id %>">read More</a></p>
                <% if(loggedInUser && loggedInUser.userId === post.userid){ %>
                <span class="settingIcon"></span>
                <% } %>
               </div>
               <div class="editAndDeleteBtn d-flex justify-content-evenly mt-1">
                <% if(loggedInUser && loggedInUser.userId === post.userid){ %>
                 <a href="/edit/<%= post.id %>" class="editPostBtn btn btn-sm">Edit</a>
                 <form action="/delete/<%=post.id%>?_method=DELETE" method="post" id="deletePostForm">
                    <button type="submit" class=" btn btn-sm" id="deletePostBtn">Delete</a>
                </form>
                <% } %>
            </div>
                <%= console.log(post.img) %>
              <img src="<%=post.img%>" class="card-img-top img-thumbnail img-fluid mx-auto" alt="Card IMG TOP">
               <div class="card-body">
                <i class="currentDate"> <%= post.cdate %></i>
                 <i class="createdBy">createdBy :<a href="/postOwnerProfile/<%= post.userid %>">
                    <%= post.user.firstName %> <%= post.user.lastName %></a></i>
                
    
               </div>
               <div class=" container likesCommentsShares">
               <div class="buttonHandles">
                <% if(loggedInUser){ %>
                    <div class="like">
                        <form action="/posts/<%=post.id%>/like" method="post">
                            <% console.log(post.countLikes) %>
                            <%if(post.likes.includes(loggedInUser.userId)){ %>
                                <button id="likeButton" class=" likeBtn btn btn-success btn-sm" type="submit">Liked</button>
                                <%}else{ %>
                                <button class="likeBtn btn btn-secondary btn-sm" type="submit">Like</button>
                                <%} %>
                                
                           
                        </form>
                    </div>
                    <div class="div">
                        <button class="btn btn-info btn-sm popCommentBtn" id="commentPoperBtn">comment !</button>
                    </div>
                 
                    <div class="share">
                        <form action="/posts/<%= post.id %>/share" method="post">
                            <button class="btn btn-primary btn-sm" type="submit">Share</button>
                        </form>
                    </div>
               </div>

                <!-- commeining area -->
                
                <% } %>
            </div>
            <div class="likesCmntShareCount">
                <div class="likes">
                    <p class="px-3"><strong class="likesCount"><%= post.likes.length%> </strong>Likes</p>
                </div>
                <div class="cmnts"><strong><%= post.comments.length%></strong> comments </div>
                <div class="shares"><strong><%= post.shareContent.length%></strong> shares</div>
            </div>

            <div class="display-comments container border rounded my-3 py-2">
            
                <h3>Comments !</h3>
                <div class="comment my-3" id="commentingArea">
                    <form action="/posts/<%=post.id%>/comment" method="post" id="commentSubmitForm">
                        <div class="form-group">
                            <input class="form-control" type="text" name="comment" id="comment" required placeholder="add your comment">
                        </div>
                        <div class="form-group mt-2">
                            <button id="actualCommentBtn" class="form-control btn btn-success btn-sm" type="submit">comment</button>
                        </div>
                       
                    </form>
                </div>
                <ul id="commentList">
                    <% post.comments.forEach((comment, i)=>{ %>
                        <li class="d-flex liComment" data-id="<%=comment.comment_Id%>">
                            <p><strong><%= comment.author%></strong>: </p>
                            <p  class="commentTextt mx-2" id="commentText"><%= comment.comment %></p>
                            <% if(loggedInUser && loggedInUser.userId === comment.commenterId){ %>
                                <% console.log(JSON.stringify("logged in user from ejs " + loggedInUser)) %>
                            <div class="edit-delete d-flex justify-content-between px-3">

                                 <!-- <form action="#" class="form">
                                    <button class="btn btn-success btn-sm editButton" id="editCommitBtn">Edit</button>
                                 </form> -->
                                
                                <!-- delete form -->
                                <form method="POST" action="/comment/<%=comment.comment_Id%>/delete?_method=DELETE" class="mx-2">
                                    <button type="submit" name="deleteButton" id="deleteBtn" class=" btn border border-danger  btn-sm">delete</button>
                                </form>
                            </div>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
                 <!-- modal -->
                 <form id="formModal" name="modalForm" style="display: none;">
                    <div class="form-group">
                        <input class="form-control" name="modalInput" class="inputModal" required id="modalEditComment" placeholder="New Comment">
                    </div>
                    <div class="form-group mt-2">
                        <button id="saveComment" class="form-control btn btn-success btn-sm">Save</button>
                        <button id="cancelCommentModal" class="cancelModal form-control btn btn-alert btn-sm" onclick="openCloseModal(event)">cancel</button>
                    </div>
                   
                </form> 
            </div>
            </div>
        <% }) %>
      
            <!-- modal -->
           
            <!-- end of modal -->
    </div>

     <!-- sharedPost -->
     <div class="sharedPost container">
        <h1>shared post</h1>
        <div class="row my-3">
            <% posts.forEach((post)=>{ %>
                <% post.shareContent.forEach((sharedPost)=>{%>
                    <div class="col-12 card my-3">
                        <img class="card-img-top img-thumbnail img-fluid mx-auto h-50" src="<%= sharedPost.postImg%>" alt="Card IMG TOP">
                        <div class="card-body">
                            <a href="/postOwnerProfile/" class="sharedby">
                                shared by: 
                            </a>
                           
                         <i class="currentDate"> <%= sharedPost.postDate %></i>
                         <p class="memory"><%=sharedPost.description.substr(0, 50) %> 
                            <a href="/show/<%= post.id %>">read More</a>
                        </p>
                            <i class="createdBy">createdBy :
                                <a href="/postOwnerProfile/<%= sharedPost.originalUserId %>">
                                    <%= sharedPost.originalUser.firstName %> <%= sharedPost.originalUser.lastName %>
                                </a>
                            </i>    
                    </div>
    
                <% }) %>
           <% }) %>
         </div>
         </div>
        </div>
        
       
     <%- include('../partials/footer') %>
