<%- include('../partials/header') %>

   <div class="container"  id="showPosts">
  
        <div class="row">
         
                <p class="showPostMemory">
                    <%= post.memory  %>
                </p>
                <img class="showPostImg"  id="postImg"  src="<%= post.img %>" alt="">
                <p class="date"><%= post.cdate %></p>
            </div>
       
    
   </div>
  
<%- include('../partials/footer.ejs') %>
