<%- include('../../partials/header') %>

<div class="container" id="activeUserProfile">
    <h1><%= user.firstName%>'s POSTS</h1>
<% posts.forEach((post)=>{ %>
   <p><%= post.memory %></p>
   <img src="<%= post.img %>" alt=""><br>
   <i class="cd"><%=post.cdate%></i>
<% }) %>

</div>

<%- include('../../partials/footer') %>

