<%- include('../../partials/header') %>
<div class="container" id="userProfile">
    <h1>My Posts</h1>
            <% if(posts.length > 0){  %>
                <% posts.forEach((post)=>{ %>
                    <p><%= post.memory %> </p>
                    <img src="<%=post.img%>" alt="userImg"><br>
                    <i class="date"><%= post.cdate%></i>
                <% }) %>
                <% }else{%>
                    <h2>You have yet No Post !</h2>
                <% } %>
</div>
<%- include('../../partials/footer') %>